<div class="container-xl">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid px-0">
            <a href="#">
                <img src="../assets/images/BrandLogo.png" class="d-lg-block d-none" alt="logo">
                <img src="../assets/images/BrandLogo_sm.png" class="d-md-block d-lg-none" alt="logo">
            </a>
            <button class="navbar-toggler custom-navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon custom-navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-xl-end my-5" id="navbarNav">

                <!-- 桌面版 list 結構 -->
                <ul class="navbar-nav mb-8 mb-lg-0 d-lg-flex d-lg-block d-none">
                    <li class="nav-item">
                        <a class="nav-link header-link px-4 me-6" aria-current="page" href="#">探索申請區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-link px-4 me-6" href="#">行前準備區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-link px-4 me-6" href="#">學習互動區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-link px-4 me-7" href="#">會員申請區</a>
                    </li>
                </ul>

                <!-- 行動版 list 結構 -->
                <div class="accordion accordion-flush d-lg-none d-block mb-8" id="accordionFlushExample">
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="applicationSection-header-heading">
                            <button class="accordion-button collapsed px-0 py-3 mb-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#applicationSection-header-collapse" aria-expanded="false"
                                aria-controls="applicationSection-header-collapse">
                                <span class="h5 header-accordion-link">探索申請區</span>
                            </button>
                        </h2>
                        <div id="applicationSection-header-collapse" class="accordion-collapse collapse"
                            aria-labelledby="applicationSection-header-heading" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 mb-3">
                                <ul class="list-unstyled px-3">
                                    <li><a class="header-accordion-link mb-6" href="#">登山路線探索</a></li>
                                    <li><a class="header-accordion-link" href="#">我要申請</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="preparationSection-header-heading">
                            <button class="accordion-button collapsed px-0 pb-3 mb-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#preparationSection-header-collapse" aria-expanded="false"
                                aria-controls="preparationSection-header-collapse">
                                <span class="h5 header-accordion-link">行前準備區</span>
                            </button>
                        </h2>
                        <div id="preparationSection-header-collapse" class="accordion-collapse collapse"
                            aria-labelledby="preparationSection-header-heading" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 mb-3">
                                <ul class="list-unstyled px-3">
                                    <li><a class="header-accordion-link mb-6" href="#">登山保險指南</a></li>
                                    <li><a class="header-accordion-link mb-6" href="#">裝備檢查清單</a></li>
                                    <li><a class="header-accordion-link" href="#">登山工具清單</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="learningSection-header-heading">
                            <button class="accordion-button collapsed px-0 py-3 mb-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#learningSection-header-collapse" aria-expanded="false"
                                aria-controls="learningSection-header-collapse">
                                <span class="h5 header-accordion-link">學習互動區</span>
                            </button>
                        </h2>
                        <div id="learningSection-header-collapse" class="accordion-collapse collapse"
                            aria-labelledby="learningSection-header-heading" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 mb-3">
                                <ul class="list-unstyled px-3">
                                    <li><a class="header-accordion-link mb-6" href="#">登山學堂</a></li>
                                    <li><a class="header-accordion-link mb-6" href="#">行前模擬任務</a></li>
                                    <li><a class="header-accordion-link" href="#">問答與社群</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="memberSection-header-heading">
                            <button class="accordion-button collapsed px-0 py-3 mb-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#memberSection-header-collapse" aria-expanded="false"
                                aria-controls="memberSection-header-collapse">
                                <span class="h5 header-accordion-link">會員申請區</span>
                            </button>
                        </h2>
                        <div id="memberSection-header-collapse" class="accordion-collapse collapse"
                            aria-labelledby="memberSection-header-heading" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0">
                                <ul class="list-unstyled px-3">
                                    <li><a class="header-accordion-link mb-6" href="#">登山日誌</a></li>
                                    <li><a class="header-accordion-link mb-6" href="#">行程計劃管理</a></li>
                                    <li><a class="header-accordion-link mb-6" href="#">申請與保險紀錄</a></li>
                                    <li><a class="header-accordion-link" href="#">提醒設定</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="https://edie-099.github.io/trekgogo/login"><button type="button" class="btn custom-btn-outline header-btn-size">登入</button></a>
            </div>
        </div>
    </nav>
</div>