.footer-social-icon-item {
    font-size: 40px;
    color: $neutral-600;
    padding: 4px;
}

.footer-contact-link {
    color: $neutral-700;

    &:hover {
        color: $neutral-500;
    }
}

.footer-list-group-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: $neutral-500;

    &:hover {
        color: $neutral-400;
    }
}

.footer-list-group-item {
    font-size: 20px;
    font-weight: 500;
    color: $neutral-600;

    &:hover {
        color: $neutral-400;
    }
}