.header-link {
    font-size: 20px;
    font-weight: 500;
    color: $neutral-600;
    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;

    &:hover {
        color: $primary-300;
    }
    
    &:hover::after {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 4px;
        background: $primary-300;
    }
}

.header-btn-size {
    width: 100%;
    height: 54px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-right: 16px;
    padding-left: 16px;
}

.custom-navbar-toggler {
    color: #FFFFFF;

    &custom-navbar-toggler-icon {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5'/></svg>");
        background-repeat: no-repeat;
        background-position: center;
    }
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/></svg>");
}

.accordion-button {
    &:not(.collapsed) {
        color: unset;
        background-color: unset;
        box-shadow: unset;
    }

    &:focus {
        box-shadow: unset;
    }
}

.header-accordion-link {
    color: $neutral-600;

    &:hover {
        color: $neutral-500;
    }
}

@media (min-width: 992px) {
  .header-btn-size {
    width: 96px;
    height: 54px;
  }
}