.login-bg {
    max-width: 100%;
    max-height: 100%;
    background-image: url("../images/Login_HeroImage_m.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-w-662 {
    width: 662px;
}

.login-form-control {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 16px;
    padding-right: 16px;
}

.login-form-link {
    color: $primary-300;

    &:hover {
        color: $primary-200;
    }
}

.login-divider {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5;
    align-items: center;
    text-align: center;
    color: $neutral-700;

    span {
        margin: 0px 8px;
        background: #fff;
    }
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid $neutral-300;
}

.login-socialBtn-google {
    height: 64px;
    padding-top: 16px;
    padding-bottom: 16px;

    img {
            margin-right: 50px;
            margin-left: -70px;
    }
}

.login-socialBtn-line {
    height: 64px;
    padding-top: 16px;
    padding-bottom: 16px;

    img {
            margin-right: 65px;
            margin-left: -75px;
    }
}

@media (min-width: 376px) {
    .login-bg {
        background-image: url("../images/Login_HeroImage.png");
    }

    .login-socialBtn-google {
        img {
            margin-right: 8px;
            margin-left: -8px;
        }
    }

    .login-socialBtn-line {
        img {
            margin-right: 8px;
            margin-left: -8px;
        }
    }
}