<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探索申請區</title>
        <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>
<body>
  <%- include('./layout/header'); -%>
<!-- 有背景漸層的區塊 -->
<section class="py-8 section1-bg ">
  <div class="container">
    <div class="row g-4 mb-8 align-items-center">
      <div class="col-12 col-md-3 map-wrapper">
      <!-- 左邊：篩選卡片 -->
      <!-- 版本一：6/6 -->
      <!-- <div class="col-12 col-md-6"> -->

      <!-- 版本二：4/8 -->
      <!-- <div class="col-12 col-md-4"> -->

      <!-- 版本三：3/9 -->
      <div class="col-4 col-md-4 col-lg-5">
        <div class="se-filter-card position-absolute search-card start-0 m-5 p-4 mt-10 ms-5 shadow-sm">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="h5 fw-bold">前期登山探索<i class="bi bi-chevron-down mx-2"></i></div><i class="bi bi-info-circle mb-4"></i>

          </div>

          <!-- 區域 -->
          <div class="mb-3 border-bottom pb-6">
            <p class="fw-bold mb-2 text-start">區域</p>
            <div class="d-flex flex-wrap gap-2">
              <button class="se-btn-brand se-btn-sm se-btn-outline-success active">北部</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">中部</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">南部</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">東部</button>
            </div>
          </div>

          <!-- 天數 -->
          <div class="mb-3 border-bottom pb-6">
            <p class="fw-bold mb-2 text-start">天數</p>
            <div class="d-flex flex-wrap gap-2">
              <button class="se-btn-brand se-btn-sm se-btn-outline-success active">五小時以下</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">一天</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">兩天</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">兩天以上</button>
            </div>
          </div>

          <!-- 體能 -->
          <div class="mb-8">
            <p class="fw-bold mb-2 text-start">體能</p>
            <div class="d-flex flex-wrap gap-2">
              <button class="se-btn-brand se-btn-sm se-btn-outline-success active">入門</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">初級</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">中級</button>
              <button class="se-btn-brand se-btn-sm se-btn-outline-success">高級</button>
            </div>
          </div>

          <!-- 按鈕 -->
          <div class="d-flex gap-2">
            <button class="se-btn-green flex-fill text-white px-5 w-100 py-4 rounded-5 ">我要申請隊長</button>
            <button class="se-btn flex-fill px-5 w-100 py-4 rounded-5 fw-bold">我要申請成員</button>
          </div>
        </div>
      </div>

      <!-- 右邊：地圖 -->
      <!-- 版本一：6/6 -->
      <!-- <div class="col-12 col-md-6"> -->

      <!-- 版本二：8 -->
      <!-- <div class="col-12 col-md-8"> -->

      <!-- 版本三：9 -->
      <!-- 右側 col (地圖) -->
      <div class="col-12 col-md-8 col-lg-7 ">
        <div class="se-map-container position-relative ">
          <img src="/assets/images/search/Map.png" class="img-fluid se-map-img" alt="台灣地圖">
        </div>
      </div>

    </div>
  </div>
</section>


<!-- pc熱門登山路線狀態 -->
<section class="section2-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 mb-10">
                <h1 class="mb-7 mt-8 text-center ">熱門登山路線狀態</h1>
                <div class="d-flex se-mb-tbody justify-content-center gap-3 ">
                        <!-- pc左側卡片 -->
                    <div class="col-5 se-mb-tbody">
                <img class="mb-2" src="/assets/images/search/top1-road.png" alt="#">
<div class="d-flex align-items-center gap-3 ">
  <img src="/assets/images/search/Badges1.png" alt="no.1" style="width:50px; height:50px;">
   <!-- 左邊 -->
  <div class="justify-content-between flex-grow-1 mt-2 ">
    <h2 class="h5 mb-1 fw-bold">中央尖山</h2>
    <p class="h6 text-muted mb-0">台中市和平區 / 花蓮縣秀林鄉</p>
  </div><p><span class="se-hilight">177</span>人成功登頂</p>
</div>

          </div>                 <!-- pc右側列表 -->
      <div class="col-7 se-mb-tbody">
        <div class="row pb-2 mb-3 ">
          <div class="col-4">名稱</div>
          <div class="col-4">地區</div>
          <div class="col-4 ">登山路線狀態</div>
        </div>

        <!-- 列表項目 -->
        <div class="row align-items-center py-5 border-bottom ">
          <div class="col-4 d-flex align-items-center gap-2">
            <span class="badge bg-secondary rounded-circle">2</span>
            <span class="fw-bold">紅淡山</span>
          </div>
          <div class="col-4 text-muted small ">基隆市仁愛區</div>
          <div class="col-4 "><p><span class="se-hilight-sm">145</span> 人成功登頂</p></div>
        </div>

        <div class="row align-items-center py-5 border-bottom">
          <div class="col-4 d-flex align-items-center gap-2">
            <span class="badge se-bg-secondary rounded-circle">3</span>
            <span class="fw-bold">塔曼山步道</span>
          </div>
          <div class="col-4 text-muted small">桃園市復興區</div>
          <div class="col-4 "><p><span class="se-hilight-sm">118</span> 人成功登頂</p></div>
        </div>

        <div class="row align-items-center py-5 border-bottom">
          <div class="col-4 fw-bold">能高越嶺道 - 西段</div>
          <div class="col-4 text-muted small">南投縣仁愛鄉</div>
          <div class="col-4 "><p><span class="se-hilight-sm">96</span> 人成功登頂</p></div>
        </div>

        <div class="row align-items-center py-5 mb-2">
          <div class="col-4 fw-bold">雪山北峰</div>
          <div class="col-4 text-muted small">苗栗縣泰安鄉 / 臺中市和平區</div>
          <div class="col-4"><p><span class="se-hilight-sm">78</span> 人成功登頂</p></div>
        </div>

        <!-- 查看更多 -->
        <div class="text-center mt-4">
          <a href="#" class="se-btn se-btn-outline-success rounded-pill py-5 px-9 fw-bold">查看更多</a>
        </div>
      </div>

<!-- mb左側卡片 -->
<!-- mb右側列表 -->
<!-- mb熱門登山路線狀態 -->
<section class=" se-pc-tbody">

    <!-- 主圖 -->
    <div class="mb-3">
      <img src="/assets/images/search/top1-road.png" class="img-fluid rounded" alt="中央尖山">
    </div>

    <!-- 路線列表 -->
    <div class="rounded">
      
      <!-- 1 -->
      <div class="list-group-item d-flex align-items-center py-5 border-bottom ">
        <div class="d-flex align-items-start ">
          <img src="/assets/images/search/Badges1.png" alt="no.1" style="width:28px; height:28px;" class="me-2">
          <div class="text-start ">
            <h6 class="mb-0 fw-bold">中央尖山</h6>
            <small class="text-muted">台中市和平區 / 花蓮縣秀林鄉</small>
          </div>

        </div>
        <div class="text-end fw-bold ms-auto">
          <p class="small text-muted"><span class="se-hilight-sm">177</span> 人成功登頂</p>
        </div>
      </div>

      <!-- 2 -->
      <div class="list-group-item d-flex align-items-center py-5 border-bottom">
        <img src="/assets/images/search/Badges2.png" alt="no.2" style="width:28px; height:28px;" class="me-2">
        <div class="text-start">
          <h6 class="mb-0 fw-bold">紅淡山</h6>
          <small class="text-muted">基隆市仁愛區</small>
        </div>
        <div class="text-end text-success fw-bold ms-auto">
          <p class="small text-muted"><span class="se-hilight-sm">145</span> 人成功登頂</p>
        </div>
      </div>

      <!-- 3 -->
      <div class="list-group-item d-flex align-items-center py-5 border-bottom">
        <img src="/assets/images/search/Badges3.png" alt="no.3" style="width:28px; height:28px;" class="me-2">
        <div class="text-start">
          <h6 class="mb-0 fw-bold">塔曼山步道</h6>
          <small class="text-muted">桃園市復興區</small>
        </div>
        <div class="text-end text-success fw-bold ms-auto">
          <p class="small text-muted"><span class="se-hilight-sm">118</span> 人成功登頂</p>
        </div>
      </div>

      <!-- 4 -->
      <div class="list-group-item d-flex align-items-center py-5 border-bottom">

        <div class="text-start">
          <h6 class="mb-0 fw-bold">能高越嶺道 - 西段</h6>
          <small class="text-muted">基隆市仁愛區</small>
        </div>
        <div class="text-end text-success fw-bold ms-auto">
          <p class="small text-muted"><span class="se-hilight-sm">96</span> 人成功登頂</p>
        </div>
      </div>

      <!-- 5 -->
      <div class="list-group-item d-flex align-items-center py-5 ">
      
        <div class="text-start">
          <h6 class="mb-0 fw-bold">雪山北峰</h6>
          <small class="text-muted">苗栗縣泰安鄉 / 臺中市和平區</small>
        </div>
        <div class="text-end text-success fw-bold ms-auto">
          <p class="small text-muted"><span class="se-hilight-sm">78</span> 人成功登頂</p>
        </div>
      </div> <!-- 查看更多 -->
    <div class="text-center mt-4 ">
      <a href="#" class="se-btn se-btn-outline-success rounded-pill fw-bold py-5 col-12">查看更多路線</a>
    </div>

    </div>



</section>
    </div>
  </div>
    </section>



    <div class="section3-bg">            <!-- 左箭頭（可留/可刪） -->
            
    <!-- 山屋與營地資訊 -->
      <div class="container py-5 ">
      
        <!-- 山屋與營地資訊 -->
         
        <h1 class="text-center mb-4 ">山屋與營地資訊</h1>
        <div class="row g-4 justify-content-center mb-10 ">
      


  <!-- 橫向滑動的容器 -->
  <div class="scroll-wrapper">
    <div class="se-scroll-cards d-flex flex-nowrap gap-4">
      
      <div class="se-card-sec3 text-white shadow-sm position-relative">            
        
<button
              class="prep-carousel-control-prev-icon "
              aria-label="上一張"
            ></button>

        <img src="/assets/images/search/Card1.png" class="se-card-img" alt="九九山莊">
              <div class="se-card-img-overlay d-flex flex-column justify-content-start p-0">
                <div class="position-absolute bottom-0 start-0 p-4">

                  <h5 class="se-card-title me-9 mb-5">九九山莊</h5>
                  <p class="h6"><i class="bi bi-geo-alt mx-1"></i>大霸尖山登山步道</p>
                </div>
              </div>
      </div>
            <div class="se-card-sec3 text-white shadow-sm position-relative">
        <img src="/assets/images/search/Card2.png" class="se-card-img" alt="九九山莊">
              <div class="se-card-img-overlay d-flex flex-column justify-content-start p-0">
                <div class="position-absolute bottom-0 start-0 p-4">

                  <h5 class="se-card-title me-9 mb-5">天池山莊</h5>
                  <p class="h6"><i class="bi bi-geo-alt mx-1"></i>能高越嶺國家步道</p>
                </div>
              </div>
      </div>
            <div class="se-card-sec3 text-white shadow-sm position-relative">
        <img src="/assets/images/search/Card3.png" class="se-card-img" alt="九九山莊">
              <div class="se-card-img-overlay d-flex flex-column justify-content-start p-0">
                <div class="position-absolute bottom-0 start-0 p-4">

                  <h5 class="se-card-title me-9 mb-5">向陽山屋</h5>
                  <p class="h6"><i class="bi bi-geo-alt mx-1"></i>大霸尖山登山步道</p>
                </div>
              </div>            
              
              <button
              class="prep-carousel-control-next-icon"
              aria-label="下一張"
            ></button>
      </div>
</div>

</div>
</div>

          </div>
       
    </div>

  <!-- 初階路線推薦 -->
<h1 class="text-center mt-10 mb-4 ">初階路線推薦</h1>
  <div class="section4-bg se-mb-tbody">
<div class="container ">

    <div class="row g-4 justify-content-center mb-10 ">
      <div class="col-6 col-md-12 ">
        <div class="se-card shadow-sm  d-flex flex-row align-items-center ">
          <img src="/assets/images/search/sec1.jpg" class="img-fluid" alt="三小時內完成" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="se-card-body">
            <h5 class="se-card-title">三小時內完成</h5>
            <p class="se-card-text text-muted">輕鬆半日健行</p>
           
          </div>
          <div class="ps-10">
    <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm px-5 py-5 fw-bold">查看更多</a>
          </div>
          
        </div>
      </div>
    
      <div class="col-6 col-md-12">
        <div class="se-card shadow-sm  d-flex flex-row align-items-center">
          <img src="/assets/images/search/sec2.jpg" class="img-fluid" alt="五小時內完成" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="se-card-body">
            <h5 class="se-card-title">五小時內完成</h5>
            <p class="se-card-text text-muted">沈浸山林半日旅程</p>
            
          </div>
          <div class="ps-10">
    <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm px-5 py-5 fw-bold">查看更多</a>
          </div>
        </div>
      </div>
    
      <div class="col-6 col-md-12">
        <div class="se-card shadow-sm  d-flex flex-row align-items-center ">
          <img src="/assets/images/search/sec3.jpg" class="img-fluid img-container" alt="區域爬坡" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="se-card-body">
            <h5 class="se-card-title">區域精選</h5>
            <p class="se-card-text text-muted">探索山景獨特風貌</p>
            
          </div>
          <div class="ps-10">
    <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm px-5 py-5 fw-bold">查看更多</a>
          </div>
        </div>
      </div>
    
      <div class="col-6 col-md-12">
        <div class="se-card shadow-sm  d-flex flex-row align-items-center">
          <img src="/assets/images/search/sec4.jpg" class="img-fluid " alt="百岳入門必訪" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="se-card-body">
            <h5 class="se-card-title">百岳入門必訪</h5>
            <p class="se-card-text text-muted">體驗百岳的魅力</p>
            
          </div>
          <div class="ps-10">
    <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm px-5 py-5 fw-bold">查看更多</a>
          </div>
        </div>
      </div>
      <!-- 查看更多 -->
    <div class="text-center mt-6">
      <a href="#" class="se-btn se-btn-outline-success rounded-pill px-10 py-5 fw-bold">查看更多路線</a>
    </div>
    </div>

  </div>
</div>


<!-- 初階路線推薦-mb -->

<div class="section4-bg se-pc-tbody">


    <div class="row g-4 justify-content-center mb-5">

      <!-- 卡片 -->
      <div class="col-12 col-md-6">
        <div class="se-card shadow-sm d-flex flex-row align-items-center p-3">
          <img src="/assets/images/search/sec1.jpg" class="img-fluid rounded" alt="三小時內完成" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="flex-grow-1 px-1">
            <h5 class="se-card-title mb-1">三小時內完成</h5>
            <p class="se-card-text text-muted mb-0">輕鬆享受登山樂趣</p>
          </div>
          <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm fw-bold">查看更多</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="se-card shadow-sm d-flex flex-row align-items-center p-3">
          <img src="/assets/images/search/sec2.jpg" class="img-fluid rounded" alt="五小時內完成" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="flex-grow-1 px-1">
            <h5 class="se-card-title mb-1">五小時內完成</h5>
            <p class="se-card-text text-muted mb-0">沈浸山林半日旅程</p>
          </div>
          <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm fw-bold">查看更多</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="se-card shadow-sm d-flex flex-row align-items-center p-3">
          <img src="/assets/images/search/sec3.jpg" class="img-fluid rounded" alt="區域精選" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="flex-grow-1 px-1 ">
            <h5 class="se-card-title mb-1">區域精選</h5>
            <p class="se-card-text text-muted mb-0">探索山景獨特風貌</p>
          </div>
          <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm fw-bold">查看更多</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="se-card shadow-sm d-flex flex-row align-items-center p-3">
          <img src="/assets/images/search/sec4.jpg" class="img-fluid rounded" alt="百岳入門必訪" style="width:40%; height: 40%; aspect-ratio: 4/3; object-fit:cover;">
          <div class="flex-grow-1 px-1">
            <h5 class="se-card-title mb-1">百岳入門必訪</h5>
            <p class="card-text text-muted mb-0">體驗百岳的魅力</p>
          </div>
          <a href="#" class="se-btn se-btn-outline-success rounded-pill se-btn-sm fw-bold">查看更多</a>
        </div><!-- 查看更多 -->
    <div class="text-center mt-4 ">
      <a href="#" class="se-btn se-btn-outline-success rounded-pill fw-bold py-5 col-12">查看更多路線</a>
    </div>
      </div>    

    </div>




</div>


  <%- include('./layout/footer'); -%>
  <%- include('./layout/go-top'); -%>




  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    // 初始化地圖
    const map = L.map('map').setView([23.6978, 120.9605], 7); // 台灣中心點

    // 加入 OpenStreetMap 圖資
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
    }).addTo(map);

    // 放一個 marker（台北）
    L.marker([25.0330, 121.5654])
      .addTo(map)
      .bindPopup("台北 101")
      .openPopup();
  </script>
        <script type="module" src="../main.js">

          // go-top-start
          var ready = (callback) => {
            if (document.readyState != "loading") callback();
            else document.addEventListener("DOMContentLoaded", callback);
          };

          ready((event) => {
            const scrollTo = (element, to, duration) => {
              if (duration <= 0) {
                return;
              }
              var difference = to - element.scrollTop;
              var perTick = (difference / duration) * 10;

              setTimeout(() => {
                element.scrollTop = element.scrollTop + perTick;
                if (element.scrollTop === to) {
                  return;
                }
                scrollTo(element, to, duration - 10);
              }, 10);
            };

            var gotop = document.querySelector(".gotop");
            var html = document.documentElement;

            gotop.addEventListener("click", (e) => {
              e.preventDefault();
              scrollTo(html, 0, 800);
            });
          });
          // go-top-end

        </script>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>